html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.box{
  height: 600px;
  width: 600px;


  text-align: center;
}

table, td{
  border: solid black 1px;
  border-collapse: collapse;
  table-layout: fixed;
}

td{
  padding:1em;
  border: solid black 2px;
  width: 60px;
  height: 60px;

}

.completed-letter{
  background: linear-gradient(45deg, transparent 47%, red 47%, red 53%, transparent 53%) 0
}


/* HORIZONTAL LINE   background: linear-gradient(0deg, transparent 47%, red 47%, red 53%, transparent 53%) 0 
   VERTICAL LINE     background: linear-gradient(90deg, transparent 47%, red 47%, red 53%, transparent 53%) 0 
   DIAGONAL LINE 1  background: linear-gradient(45deg, transparent 47%, red 47%, red 53%, transparent 53%) 0 
   DIAGONAL LINE 2   background: linear-gradient(135deg, transparent 47%, red 47%, red 53%, transparent 53%) 0 

*/

